<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active"><i>DOGEADMIN</i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" *ngIf="authService.isLoggedIn() | async" routerLink="/" routerLinkActive="active">Log Viewer<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item" *ngIf="authService.isLoggedIn() | async">
                <a class="nav-link" routerLink="/Login" routerLinkActive="active" (click)="logout();">Log Out</a>
            </li>
            <li class="nav-item" *ngIf="(authService.isLoggedIn() | async) == null">
                <a class="nav-link" routerLink="/Login" routerLinkActive="active">Employee Login</a>
            </li>
        </ul>
    </div>

</nav>